body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
}
.container{
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    display: inline-block;
}
.red-line{
    border-bottom: 2px solid #ff3f40;
    max-width: 130px;
}
.row{
    display: flex;
}
.col{
    width: 50%;
}
.button{
    border: 2px solid #ff3f40;
    border-radius: 5px;
    padding: 13px 53px;
    font-weight: bold;
    font-size: 18px;
}
header{
    padding-top: 30px;
    background-color: #f6f2f2;
}
header a{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 25px 30px;
}
header a:hover,
header li.active{
    background-color: #ff3f40;
    transition: 0.3s;
}
header nav{
    background-color: #313030;
}
header nav ul{
    display: flex;
    justify-content: center;
}
.about{
    padding: 115px 0;
    background-color: #f6f2f2;
}
.about .row{
    gap: 110px;
    align-items: center;
}
.about .about__title{
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 65px;
    letter-spacing: 3px;
    margin-bottom: 35px;
}
.about .about__details{
    max-width: 515px;
    margin-bottom: 60px;
}
.about__contact{
    background-color: #ff3f40;
    color: white;
}
.about__contact:hover{
    transition: 0.3s;
    background-color: transparent;
    color: #ff3f40;
}
.video-wrapper iframe{
    width: 100%;
    border: 0;
    box-shadow: 0 0 60px -1px black;
}
.services{
    margin: 110px 0;
}
.services .container .row{
    margin-bottom: 110px;
}
.services .container{
    border-bottom: 1px solid #ececec;
}
.services .services__title{
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    font-size: 42px;
    margin-bottom: 50px;
}
.services .services__details{
    max-width: 500px;
    margin-bottom: 85px;
}
.services a.services__learn{
    color: #ff3f40;
}
.services a.services__learn:hover{
    transition: 0.3s;
    background-color: #ff3f40;
    color: white;
}
.services .services__list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}
.services .services__item h3{
    padding: 20px 0;
}
.services .services__description{
    max-width: 270px;
}
.products{
    margin: 110px 0 140px 0;
}
.products .products__info{
    margin: 0 0 90px 0;
}
.products .products__details{
    margin-bottom: 30px;
}
.products .products__info .red-line{
    margin: 0 auto;
}
.products .products__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin: 0 0 40px 0;
}
.products .products__details{
    text-align: center;
}
.products .products__portfolio .products__nav{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.products .products__portfolio .products__nav li{
    padding-bottom: 60px;
}
.products__nav a{
    font-weight: bold;
    text-transform: uppercase;
    color: #4c4c4c;
}
.products__nav li .active{
    color: #ff3f40;
}
.products__nav a:hover{
    color: #ff3f40;
    transition: 0.3s;
}
.portfolio__items{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.products__portfolio-item{
    width: 300px;
    height: 300px;
    background-color: #f5f0dd;
}
.our-team{
    margin-bottom: 110px;
}
.our-team .our-team__mates{
    gap: 75px;
}
.our-team .our-team__more{
    width: 100%;
}
.our-team .our-team__info,
.our-team .our-team__socials{
    margin-bottom: 65px;
}
.our-team .our-team__title{
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 45px;
}
.our-team .our-team__details,
.our-team__description{
    max-width: 450px;
    color: #4c4c4c;
    margin-bottom: 35px;
}
.our-team .our-team__mates .our-team__avatar{
    width: 320px;
    height: 460px;
    background-color: #f5f0dd;
}
.our-team .our-team__socials li{
    display: inline;
    font-style: italic;
    margin-right: 35px;
}
.our-team .our-team__socials a:hover{
    color: #ff3f40;
    transition: 0.3s;
}
.our-team .our-team__gallery{
    display: flex;
    gap: 20px;
}
.our-team .our-team__mates .our-team__gallery-item{
    width: 190px;
    height: 190px;
    background-color: #f5f0dd;
}
.our-team .our-team__mates .our-team__gallery-item .gallery__name {
    display: none;
    width: 100%;
    height: 37px;
    margin-top: 160px;
    background-color: #7a786e;
    text-align: center;
}
.our-team__gallery-item .gallery__name__active{
    display: block;
    width: 100%;
    height: 37px;
    margin-top: 160px;
    background-color: #7a786e;
    text-align: center;
}
.our-team__gallery-item .gallery__name p,
.gallery__name__active p{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 0 8px 0;
}
.our-team .our-team__mates .our-team__gallery-item:hover .gallery__name{
  display: block;
    transition: 0.3s;
}
.our-team__more .our-team__name{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
}
.subscribe__banner{
    background-color: #f5f0dd;
    padding: 145px 0 140px 0;
    margin: 0 0 110px 0;
}
.subscribe__banner .subscribe__title{
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 42px;
    padding-bottom: 45px;
}
.subscribe__banner .subscribe__description{
    text-align: center;
    color: white;
    margin: 0 0 65px 0;
}
.subscribe__button{
    padding: 0 0 0 275px;
}
.subscribe__button .subscribe__field{
    border: none;
    border-radius: 5px;
    width: 465px;
    height: 70px;
}
.subscribe__button .subscribe__field[type=email]{
    padding-left: 35px;
}
.subscribe__button .submit__button{
    background-color: #ff3f40;
    color: white;
    text-transform: uppercase;
    padding: 18px 35px;
    margin-left: 20px;
}
.submit__button:hover{
    transition: 0.3s;
    background-color: transparent;
    color: #ff3f40;
}
.contact-us{
    margin-bottom: 110px;
    overflow: hidden;
}
.contact-us__content{
    position: relative;
}
.contact-us__content:after{
    width: 100vw;
    height: 100vw;
    display: block;
    content: '';
    background-color: #2d2d2d;
    position: absolute;
    left: 1100px;
}
.contact-us__info{
    display: block;
    width: 100%;
}
.contact-us__content{
    gap: 100px;
}
.contact-us__info .contact-us__title{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px;
    margin: 0 0 40px 0;
}
.contact-us__info .contact-us__details{
    text-align: left;
    max-width: 720px;
    margin: 0 0 55px 0;
}
.contact-us__info .red-line{
    margin-bottom: 75px;
}
.contact-us__form .name-field{
    margin-right: 50px;
}
.contact-us__form .name-field, .mail-field{
    padding: 15px 33px;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
    margin-bottom: 45px;
    font-size: 18px;
    text-transform: capitalize;
}
.contact-us__form .name-field[type=text], .mail-field[type=email]{
    padding-left: 35px;
}
.contact-us__form .message-field{
    height: 240px;
    width: 590px;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
    resize: none;
    margin-bottom: 45px;
    padding: 37px 0 0 35px;
}
.contact-us__form .send-button{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 15px 238px;
    background-color: #ff3f40;
    border: none;
    border-radius: 5px;
}
.contact-us__form .send-button:hover{
      transition: 0.3s;
      background-color: transparent;
      color: #ff3f40;
    border: 1px solid #ff3f40;
  }
.address__box{
    background-color: #2d2d2d;
    color: white;
    font-style: normal;
    width: 100%;
    height: 100%;
}
.address__box .address__text{
    padding: 144px 75px 75px 75px;
}
.address__box .address__title{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 45px;
}
.address__box .address__details{
    max-width: 290px;
}
footer {
    background-color: #313030;
}
.footer__content{
    padding: 55px 30px 25px;
    background-color: #313030;
    color: #b8b8b8;
    display: flex;
    align-items: center;
}
.copyright{
    margin-right: 650px;
}
footer .footer__socials li{
    display: inline;
}
footer .footer__socials li:not(:last-child){
    margin-right: 5px;
}
.footer__socials img{
    width: 30px;
    filter: invert(100%);
}